<html>
<head>
  <title>Clucker</title>
</head>
<body>
<h1>{{user}}'s Feed Page</h1>
<p><b>Type a new cluck</b></p>
<form action="{% url 'feed' %}" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="POST">
</form>

{% if posts %}
    <dl>
    <h>-----------------------------------------------</h>
    {% for post in posts %}
      <li>{{post.author.username}}</li>
      <dd>{{post.text}}</dd>
        <dd>{{post.created_at}}</dd>
    <h>-----------------------------------------------</h>    
    {% endfor %}
    </dl> {% else %}
    <p>No posts yet.</p>
{% endif %}

</body>
</html>
